body{
    border: relative;
    border-width: 50px;
    margin: 30px;
    font: 16px;
    font-family: 
}


h1{
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

nav{
    display: in-line block;
    font-family: cursive;
    color: green;
    width: 50;
    height: 10;
}

ul{
    background-color: lightgray;
    list-style-type: disc;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-right:20px;
    padding-left: 20px; 

}

li{
    display: inline-block;
    color: Black;
    text-align: center;
}

.photo{
    float: left;
    padding: 40px;
}

.about{
    float: middle right;
    padding: 40px;
}

