/* body{
    border-width: 50px;
    margin: 30px;
    font: 16px;
   
} */

.wrapper{
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

h1{
    font-family: 'Kaushan Script', cursive;
    color: black;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-family: 'arial';
    text-align: center;
    padding-top: 35px
}

h3{
    font-family: "arial";
    text-align: center;
}

nav{
    display: in-line block;
    font-family: cursive;
    color: green;
    width: 50;
    height: 10;
    text-align: center;
    font-size: 25px;
}

ul{
    background-color: lightgray;
    list-style-type: disc;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-right:20px;
    padding-left: 20px; 

}

li{
    display: inline-block;
    color: Black;
    text-align: center;
}

.photo{
    padding: 40px;
}

.about{
    padding: 40px;
}

